.dashboard-card {
  padding: 0.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  flex-grow: 1;
}

.dashboard-card-header {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.dashboard-icon {
  font-size: 1.8rem;
  color: #1a3a6c;
  width: 32px;
  text-align: center;
}

.dashboard-text {
  flex-grow: 1;
}

.chart-wrapper {
  overflow: visible;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
  max-height: 200px;
  opacity: 1;
}

.chart-wrapper.collapsed {
  max-height: 0;
  opacity: 0;
}
.echarts-for-react {
  flex-grow: 1;
  justify-items: center;
}

.card-content {
  padding: 0;
  margin-right: -10px;
}
