<footer class="br-footer">
    <div class="container-lg"
        style="text-align: center; padding:0px !important; width: 100% !important; max-width: 100% !important; height: 100% !important; border-bottom:1px solid #fff;">
        <div class="logo" style="margin-bottom: 20px;">
            <img src="/static/images/govbr-logo.png" alt="Logo Rodapé" style="height: 32px;" />
        </div>
        <div style="border-top: 1px solid #ccc; margin-bottom: 20px;"></div>
        <div class="text" style="margin: 20px 0; color: #fff;">
            © 2025 Compras Executivo. Todos os direitos reservados.
        </div>
    </div>
</footer>