<nav class="br-menu push" id="main-navigation">
    <div class="menu-header">
        <div class="menu-title">
            <img src="/static/images/govbr-logo.png" alt="Logo" style="height: 40px; margin-right: 10px;">
            Compras Executivo
        </div>
        <div class="menu-close">
            <button class="br-button circle" type="button" aria-label="Fechar o menu" data-dismiss="menu">
                <i class="fas fa-times" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <nav class="menu-body" role="tree">
        <div id="menu-dinamico"></div>
    </nav>
</nav>