<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Compras Executivo</title>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
    {% if config.API_ENV == "production" -%}
    <link rel="stylesheet" href="/static/dist/bundle.css" />
    <script src="/static/dist/bundle.js"></script>
    {%- else -%}
    {%- for css_file in dev_css_files %}
    <link rel="stylesheet" href="{{ css_file }}" />
    {%- endfor %}
    <script>window.process={env:{ENVIRONMENT:"{{ config.API_ENV }}"}};</script>
    {%- for js_file in dev_js_modules %}
    <script type="module" src="{{ js_file }}"></script>
    {%- endfor %}
    {%- for js_file in dev_js_files %}
    <script src="{{ js_file }}"></script>
    {%- endfor %}
    {%- endif %}
</head>

<body data-uasgs="{{ request.session.get('uasgs', []) | join(',') }}">
    {% include 'partials/header.html' %}
    {% include 'partials/menu.html' %}

    <main class="br-main">
        <div class="container-lg" style="margin-top: -100px;">
            {% block content %}{% endblock %}
        </div>
    </main>

    {% include 'partials/footer.html' %}
</body>
</html>
